:root {
    --linear-gradient: linear-gradient(#64AAFD 10%, #719CF5 20%, #9572DE 70%, #a366c9);
    --bg-body: #343232;
    --inner-hex-width: clamp(7.8175rem, 27vw - 10px, 26.126rem - 10px);
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-color: var(--bg-body);
    color: #719CF5;
    font-family: 'Exo 2';
}

@supports (-webkit-background-clip: text) 
or (background-clip: text)
or (-moz-background-clip: text) {
    .gradient {
        background: var(--linear-gradient);
        color: #719df586;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
    }
}

a {
    visibility: hidden;
    position: absolute;
    top: 0;
    left: 0;
}

a:focus {
    outline: none !important;
}

#home {
    width: clamp(40px, 10vw, 57px);
    height: clamp(40px, 10vw, 57px);
    visibility: visible;
    position: absolute;
    top: 1rem;
    left: 1rem;
    display: inline-block;
    border-radius: 100%;
    fill: rgba(255, 255, 255, 0);
    transition: fill 300ms ease-out;
}

#home:hover {
    fill: rgba(255, 255, 255, 0.4);
    transition: none;
}

#home:active {
    fill: rgba(255, 255, 255, 0.5);
    transform: scale(90%);
}

#top {
    text-align: center;
}

.match-result > div {
    --match-result-inner-width: 10ch;
    color: white;
    background: var(--bg-body);
    display: inline-block;
    padding: 0.15em;
    border-radius: 0.25ch;
    width: var(--match-result-inner-width);
    height: 2ch;
}

.match-result svg {
    display: none;
}

div.match-result {
    font-size: clamp(1rem, 4vw, 2.25rem);
    width: 10.5ch;
    margin-top: 5rem;
    flex: 0 0 auto;
    border-radius: 0.4ch;
    padding: 0.15em;
    position: relative;
}

.match-result[data-match-result="won"] > div,
.match-result[data-match-result="lost"] > div {
    background-color: transparent;
}

.match-result[data-match-result="won"] .sparkle {
    --sparkle-width: 2.5ch;
    display: inline;
    position: absolute;
    width: var(--sparkle-width);
    height: var(--sparkle-width);
}

.match-result[data-match-result="won"] svg.sparkle-top {
    top: 0;
    right: 0;
    margin-top: calc(var(--sparkle-width) * -0.35);
    margin-right: calc(var(--sparkle-width) * -0.35);
}

.match-result[data-match-result="won"] svg.sparkle-bottom {
    bottom: 0;
    left: 0;
    margin-bottom: calc(var(--sparkle-width) * -0.35);
    margin-left: calc(var(--sparkle-width) * -0.35);
}

.match-result[data-match-result="lost"] .drop {
    --drop-width: 2ch;
    --drop-height: calc(2ch * 0.75);
    width: var(--drop-width);
    height: var(--drop-height);
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: calc(var(--drop-width) * -0.3);
    margin-left: calc(var(--drop-height) * -0.35);
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: min(5%, 3rem);
    gap: 1.5rem;
}

.gradient-border {
    background: var(--linear-gradient) no-repeat;
    display: inline-block;
    padding: 0.25em;
    border-radius: 0.9ch;
    height: fit-content;
}

.result-hexagon {
    position: relative;
    width: clamp(9.0625rem, 30vw, 28.75rem);
    height: calc(clamp(9.5625rem, 30vw, 28.75rem) * 0.83064404);
}

.inner-hex-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
}

.inner-hex {
    width: var(--inner-hex-width);
}

.outer-hex {
    width: 100%;
    height: 100%;
}

.flex .match-result {
    display: none;
    margin-top: 0;
}

#player-hex span.gradient,
#computer-hex span.gradient {
    display: none;
}

@media (min-width: 74.06rem) {
    div.match-result[data-top="true"] {
        display: none;
    }
    
    .flex .match-result {
        display: inline-block;
    }
    
    #player-hex span.gradient,
    #computer-hex span.gradient {
        font-size: 3rem;
        display: inline;
    }
    
}

#options.flex {
    gap: 1rem;
    text-align: center;
}

#options svg.hex {
    --svg-width: clamp(5.49rem, 18vw, 14.53181rem);
    width: var(--svg-width);
    height: calc(var(--svg-width) * 0.83064404);
    fill: rgba(255, 255, 255, 0);
    transition: fill 300ms ease-in;
}

#options div[id]:hover {
    cursor: pointer;
}

@media (hover: hover) {

    #options div[id]:hover .hex {
        fill: rgba(255, 255, 255, 0.4);
        transition: none;
    }
}

#options div[id]:active .hex {
    fill: rgba(255, 255, 255, 0.5);
}

#options div[id]:active .wrap img {
    transform: scale(90%);
}

#options > div > div {
    position: relative;
}

#options div.wrap {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 20%;
    left: 0;
    width: 100%;
}

#rock div.wrap img {
    width: 63%;
}

#paper div.wrap {
    left: 5%
}

#paper div.wrap img {
    width: 75%;
}

#scissor div.wrap img {
    width: 85%;
}

#bottom {
    max-width: 80rem;
    margin-inline: auto;
}

#bottom > div.flex {
    margin-block: 0;
}

#scores span.gradient {
    display: block;
}

#scores {
    font-size: clamp(1.56594rem, 5vw, 3rem);
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: min-content;
}

#scores .gradient-border div {
    background: var(--bg-body);
    width: 5em;
    height: 1.5em;
    border-radius: 0.3rem;
}

#scores .gradient-border {
    border-radius: 0.5rem;
    padding: 0.1em;
}

#scores .gradient-border > div {
    display: flex;
    align-items: center;
    gap: 2.5%;
    padding: 0.1em;
}

#scores div.point {
    border-radius: 0.1em;
    background: var(--linear-gradient);
    background-color: #719df586;
    width: 18%;
    height: 98%;
}

.hidden {
    visibility: hidden;
}

.inner-hex + img {
    position: absolute;
    margin-top: -3%;
    transition: transform 100ms ease-in;
}

.inner-hex + img.scale-zero {
    transform: scale(0);
}

.inner-hex + img[src="./assets/rock.svg"] {
    width: 5%;
    transform: scale(11);
}

.inner-hex + img[src="./assets/paper.svg"] {
    width: 5%;
    margin-left: 6%;
    margin-top: 0;
    transform: scale(11);
}

.inner-hex + img[src="./assets/scissor.svg"] {
    width: 10%;
    transform: scale(6);
}

.scale-zero {
    transform: scale(0) !important;
}

@media (max-width: 62.5rem) and (min-width: 35.75rem) {
    #bottom.flex {
        flex-wrap: wrap;
    }

    #scores {
        flex-wrap: nowrap;
    }
    
}

@media (max-width: 35.7499rem) {
    #scores {
        text-align: center;
    }

    #bottom.flex {
        flex-wrap: wrap;
    }
}