body {
    background-color: #343232;
    margin: 0;
    text-align: center;
    font-family: 'Exo 2';
    color: #719CF5;
    min-height: 100dvh;
}

h1, h2 {
    background: linear-gradient(#64AAFD 30%, #719CF5 60%, #9572DE 97%);
    -webkit-background-clip: text;
    background-clip: text;
}

h1 {
    font-size: clamp(2.10406rem, 8vw, 6rem);
    margin-block: 1em 0.35em;
}

h2 {
    margin-block: 0.35em 1em;
    font-size: clamp(1rem, 6vw, 3rem);
    text-align: center;
}

@supports (-webkit-background-clip: text) and (background: linear-gradient(#64AAFD 30%, #719CF5 40%, #9572DE 87%)) {
    h1, h2 {
        color: #719df56c;
    }
}

section {
    background: rgba(79, 77, 77, 8.64);
    font-size: clamp(0.3rem, 4vw, 1.9rem);
    max-width: 49.9375rem;
    text-align: start;
    border-radius: 19px;
    box-shadow: 3px 5px 15px 3px rgba(0, 0, 0, 0.13);
    position: relative;
    overflow: hidden;
    margin-inline: auto;
    margin-bottom: 1rem;
    z-index: 2;
}

p {
    margin: 1em 0.35em;
    display: inline;
}

button {
    color: white;
    background: -webkit-linear-gradient(center top , #9E9E9E, #454545);
    background: linear-gradient(#64AAFD 30%, #719CF5 40%, #9572DE 87%);
    font-family: 'Exo 2';
    font-weight: 600;
    font-size: clamp(1.5rem, 5vw, 2.875rem);
    border: none;
    border-radius: 0.2em;
    padding: 0.3em 2em;
    letter-spacing: 0.06em;
    margin-block: max(6vh, min(4vw, 76px)) max(5.25vh, min(2.25vw, 42.75px));

}

button:hover {
    cursor: pointer;
}

h3 {
    font-size: clamp(0.5rem, 5vw, 2.2rem);
    margin: 0;
}

ul {
    margin-block: 0.5rem 0;
    list-style-image: url("../assets/eva-arrow-up-fill.svg");
    padding-left: 1.5em;
}

section img {
    height: 20rem;
    width: auto;
    right: -16rem;
    top: 60%;
}

section div {
    margin: 1.5rem 1rem;
}

li {
    margin-block: 0.5em;
}

main {
    position: relative;
    padding: 0.1px 1rem;
    max-width: 1920px;
    margin-inline: auto;
}

div#outer {
    overflow: hidden;
    min-height: 100dvh;
}

:root {
    --image-width: 35vw;
}

img {
    /* visibility: hidden; */
    z-index: -1;
    position: absolute;
    width: var(--image-width);
}

img#tr {
    top: calc(0px + var(--image-width) * 0.9191 * -0.62);
    right: calc(0px + var(--image-width) * -0.20);
    transform: rotate(180deg);
}

img#tl {
    top: 11vh;
    left: calc(0px + var(--image-width) * 0.9191 * -0.60);
    transform: rotate(-90deg);
}

img#br {
    transform: rotate(90deg);
    right: calc(0px + var(--image-width) * 0.9191 * -0.60);
    bottom: -20vh;

}

img#bl {
    transform: rotate(180deg);
    bottom: -20vh;
    left: -1rem;
}

@media screen and (min-width: 48.75rem) {
    h1 {
        margin-top: 0.35rem;
    }

    section img {
        top: auto;
        height: 28rem;
        bottom: -4rem;
        right: -15rem;
    }
    
    section {
        padding: 1.75rem 3.37rem 1.81rem 3.31rem;
    }
    
    p {
        margin: 0 0.35em;
    }

    ul {
        margin-block: 0;
        padding-left: 40px;
    }

    section div {
        margin: 1rem;
    }

    img {
        min-width: 20rem;
        width: min(30vw, 532px);
    }

    img#bl {
        bottom: -11rem;
        left: -6rem;
        display: inline;
        transform: rotate(180deg);
    }
    
    img#br {
        bottom: -11rem;
        right: -6rem;
    }
    
    img#tr {
        transform: rotate(180deg);
        top: 4rem;
        right: -6rem;
    }
    
    img#tl {
        top: 4rem;
        left: -6rem;
    }
}