body {
    background-color: #343232;
    margin: 0;
    padding-inline: 1rem;
    text-align: center;
    font-family: 'Exo 2';
    color: #719CF5;
}

h1, h2 {
    margin-block: 0.35em;
    background: linear-gradient(#64AAFD 30%, #719CF5 60%, #9572DE 97%);
    -webkit-background-clip: text;
    background-clip: text;
}

h1 {
    font-size: clamp(1.6rem, 8vw, 6rem);
}

h2 {
    font-size: clamp(1rem, 6vw, 3rem);
    text-align: center;
}

@supports (-webkit-background-clip: text) {
    h1, h2 {
        color: transparent;
    }
}

section {
    background: rgba(79, 77, 77, 8.64);
    font-size: clamp(0.3rem, 4vw, 1.9rem);
    line-height: 2.8125rem;
    max-width: 49.9375rem;
    text-align: start;
    border-radius: 19px;
    box-shadow: 3px 5px 15px 3px rgba(0, 0, 0, 0.13);
    padding: 1.75rem 3.37rem 1.81rem 3.31rem;
    position: relative;
}

p {
    margin: 0 0.35em;
    display: inline;
}

button {
    color: white;
    background: linear-gradient(#64AAFD 30%, #719CF5 40%, #9572DE 87%);
    font-family: 'Exo 2';
    font-weight: 600;
    font-size: clamp(1.5rem, 5vw, 2.875rem);
    border: none;
    border-radius: 0.2em;
    padding: 0.3em 2em;
    letter-spacing: 0.06em;
    margin-block: 1em;
}

button:hover {
    cursor: pointer;
}

h3 {
    font-size: clamp(0.5rem, 5vw, 2.2rem);
    margin: 0;
}

ul {
    /* to keep text above the image */
    position: relative;
    margin-block: 0;
    list-style-image: url("../assets/eva-arrow-up-fill.svg");
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

main div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section img {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
}
